/**
 * Buttons
 */

$btn-border-primary: 1px solid #dce5f7;
$btn-side-width: 71px;

.btn-general {
  border: $btn-border-primary;
  color: #5582dc;
  text-align: center;
  display: flex;
  border-radius: 35px;
  min-width: 281px;
  height: 68px;
  @include font(17px, $font-comfortaa-bold);
  line-height: 68px;
  cursor: pointer;

  .btn-content {
    text-align: right;
    width: calc(100% - #{$btn-side-width});
    box-sizing: border-box;
    padding: 0 22px 0 10px;
    letter-spacing: 0.6px;
  }

  .btn-side {
    border-left: $btn-border-primary;
    width: $btn-side-width;
  }

  &.btn-transparent {}
}
