#consultation {
    position: relative;
    background: url(../images/consultation/bg-consultation.jpg) center top no-repeat;
    background-size: cover;
    padding: 83px 0 0;

    .consultation-scroll-text {
        @include scroll-text(18px, 728px, '../images/consultation/scroll-text.png');
        top: 150px;
    }

    .wrapper {
        position: relative;
        padding-bottom: 153px;
    }

    .stapler {
        display: inline-block;
        width: 359px;
        height: 426px;
        background: url(../images/object/img-stapler.png) 0 0 no-repeat;
        position: absolute;
        right: 103px;
        top: -150px;
    }

    .document {
        display: inline-block;
        width: 367px;
        height: 695px;
        background: url(../images/object/img-document.png) 0 0 no-repeat;
        position: absolute;
        right: 0;
        top: -415px;
    }

    @include x-large {
        padding-top: 5vw;

        .stapler,
        .document,
        .consultation-designer {
            display: none;
        }

        .wrapper {
            padding-bottom: 50px;
        }
    }

    @include medium {
        padding-top: 0;

        .wrapper {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.consultation-heading {
    position: relative;
    @include font(#{97px/86px}, $font-tryclother-black);
    padding-bottom: 38px;
    margin-left: -6px;

    .gradient-color {
        @include gradient-color(#5582de, #4f6fb0);
    }

    span,
    strong {
        color: #212121;
    }

    span:not(.gradient-color) {
        display: block;
    }

    strong {
        @include font(40px, $font-comfortaa-regular);
        margin-top: 34px;
        display: block;
    }

    @include x-large {
        span {
            font-size: 8.3vw;
            line-height: 7vw;

            &:last-of-type {
                padding-bottom: 0;
            }
        }

        strong {
            font-size: 4.4vw;
            padding-top: 2.2vw;
        }
    }

    @include small {
        text-align: center;
        margin-left: 0;

        span {
            font-size: 32px;
            line-height: 28px;
            max-width: 420px;
            margin: 0 auto;
            display: inline-block;
        }

        strong {
            font-size: 16px;
            margin-top: 0;
        }
    }
}

.consultation-value {
    position: relative;
    @include font(22px, $font-comfortaa-regular);
    padding-left: 40px;
    margin-bottom: 51px;

    @include medium {
        font-size: 16px;
    }

    strong {
        text-decoration: line-through;
    }

    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        width: 21px;
        height: 21px;
        background: url(../images/consultation/icon-ruble.png) left center no-repeat;
        opacity: .3;
    }
}

.consultation-info {
    position: relative;
    border: 1px solid #d8e2f4;
    border-radius: 15px;
    box-sizing: border-box;
    max-width: 591px;
    padding: 33px 52px 50px;
    margin-bottom: 49px;

    @include x-large {
        max-width: inherit;
    }

    @include medium {
        padding: 13px 22px 20px;
        margin-bottom: 19px;
    }

    h5 {
        @include font(20px, $font-tryclother-bold);
        margin-bottom: 23px;

        @include medium {
            text-align: center;
        }
    }

    &__list {
        padding: 0 0 10px 7px;

        &-item {
            display: flex;
            padding-bottom: 19px;

            @include medium {
                flex-flow: column wrap;
                text-align: center;
            }

            &-side {
                padding-right: 20px;
            }

            p {
                @include font(#{16px/24px}, $font-comfortaa-regular);
                padding-top: 9px;
            }
        }
    }

    .icons-consultation {
        background: url(../images/consultation/icons-consultation.png) left top no-repeat;
        display: inline-block;
        vertical-align: top;
        width: 97px;

        &.icon-materials {
            height: 54px;
            background-position: 0 0;
        }

        &.icon-time {
            height: 55px;
            background-position: 0 -64px;
        }

        &.icon-сost {
            height: 55px;
            background-position: 0 -149px;
        }
    }

    &__more-link {
        @include font(16px, $font-comfortaa-regular);
        color: #5582dc;
        margin-left: 25px;

        &:hover {
            text-decoration: none;
        }
    }
}

.consultation-btn {
    position: relative;
    display: flex;

    @include x-large {
        flex-flow: column wrap;
        align-items: center;
    }

    .btn-general {
        min-width: 530px;
        margin-right: 41px;
        text-decoration: none;

        @include medium {
            line-height: 70px;
            min-width: inherit;
            margin: 0 auto;
        }

        .btn-content {
            width: 100%;
            text-align: center;
            padding: 0;
        }
    }

    &-info {
        max-width: 300px;
        padding: 41px 0 0 0;
        line-height: 24px;
        font-size: 14px;
        letter-spacing: .7px;

        @include xs-large {
            padding: 12px 22px 20px;
            margin-bottom: 19px;
        }

        @include medium {
            text-align: center;
        }
    }
}

.consultation-designer {
    width: 742px;
    height: 1010px;
    background: url(../images/consultation/img-designer.png) 0 0 no-repeat;
    position: absolute;
    bottom: 0;
    right: -227px;
}