#custom-production {
    position: relative;
    padding: 81px 0 139px;
    overflow: hidden;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 482px;
        border-left: 1px solid #e9f4fc;
        border-right: 1px solid #e9f4fc;
        z-index: -1;
    }

    &::before {
        left: 12%;
    }

    &::after {
        right: 12%;
    }

    .scroll-text-production {
        @include scroll-text(14px, 695px, '../images/production/production-scroll-text.png');
        left: inherit;
        right: 10%;
        top: 155px;
    }

    @include medium {
        padding: 0 0 70px;

        &::before,
        &::after {
            display: none;
        }
    }

    @include small {
        padding: 0 0 30px;
    }
}

.custom-production-heading {
    @include font-family($font-tryclother-black);
    font-size: 97px;
    text-align: center;
    line-height: 84px;
    padding-bottom: 52px;

    span {
        font-size: 50px;
        @include gradient-color(#5582de, #4f6fb0);
        display: block;
        line-height: 70px;
    }

    @include x-large {
        font-size: 8.3vw;
        line-height: 7vw;
        padding-bottom: 4vw;

        span {
            line-height: 5vw;
            font-size: 4.4vw;
        }
    }

    @include small {
        font-size: 32px;
        line-height: 28px;
        padding-bottom: 30px;
        max-width: 420px;
        margin: 0 auto;

        span {
            font-size: 16px;
        }
    }
}

.custom-production-preheading {
    @include font(16px, $font-comfortaa-regular);
    opacity: .5;
    text-align: center;
    padding-bottom: 65px;

    @include small {
        font-size: 14px;
    }
}

.production-reasons {
    padding: 0 0 56px;
    flex-flow: row wrap;
    justify-content: center;

    >li,
    >li:nth-child(2n+2) {
        padding: 15px 16px 0 27px;
        width: calc(50% - 44px);
        overflow: hidden;
        box-sizing: border-box;
        border-color: #e9f4fc;
        background: #fff;

        @include x-large {
            padding-bottom: 10px;
        }

        @include medium {
            width: calc(50% - 10px);
        }

        @include small {
            width: 100%;
        }
    }

    >li:not(:last-child) {
        margin-right: 0;
    }

    >li:first-child {
        margin-right: 85px;

        @include medium {
            margin-right: 10px;
        }

        @include small {
            margin-right: 0;
        }
    }

    a {
        color: #5582dc;

        @include small {
            font-size: 12px;
        }

        &:hover {
            text-decoration: none;
        }
    }

    .reasons-side {
        padding-right: 42px;
    }

    .reasons-content {
        padding-top: 13px;

        h4 {
            white-space: inherit;
            line-height: 30px;

            @include small {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .icons-production {
        display: inline-block;
        background: url(../images/production/icons-production.png) 0 0 no-repeat;

        &.icon-points {
            width: 117px;
            height: 123px;
            background-position: 0 0;
        }

        &.icon-master {
            width: 133px;
            height: 149px;
            background-position: 0 -123px;
            margin-bottom: -4px;
        }
    }

    li.production-reasons,
    li.production-reasons li {
        border: none;
    }

    li.production-reasons {
        padding: 15px 0 0 0;
        background: none;

        @include small {
            align-items: flex-start;
        }

        h4 {
            color: #5582dc;
            @include font(16px, $font-comfortaa-bold);
            text-align: center;
            padding-top: 29px;

            @include small {
                text-align: left;
            }
        }

        .header-list {
            display: flex;
            font-size: 14px;
            white-space: nowrap;
            justify-content: center;
            width: 100%;

            @include x-large {
                flex-flow: column wrap;
                align-items: center;
            }

            li:first-child {
                margin-right: 0;
            }

            li,
            li:nth-child(2n+2) {
                position: relative;
                display: flex;
                @include circle-dot;
                align-items: center;
                padding-left: 20px;
                padding-right: 0;
                width: 33%;

                @include x-large {
                    padding: 10px 0 0 20px;
                }

                @include medium {
                    width: inherit;
                    align-items: flex-start;
                }

                @include small {
                    padding: 10px 0 0 20px;
                    margin-bottom: 0;
                }

                &::before {
                    border-color: #5582dc;
                }
            }
        }
    }
}

.production-points {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    @include medium {
        flex-flow: column wrap;
    }

    &__block {
        position: relative;
        text-align: center;
        width: 48%;

        @include medium {
            width: 100%;
            padding-bottom: 20px;
        }

        &--img-bg {
            display: inline-block;
            position: absolute;

            &.table {
                width: 536px;
                height: 416px;
                background: url(../images/production/img-table.png) 0 0 no-repeat;
                left: -422px;
                top: -31px;
                z-index: -1;

                @include medium {
                    left: -172px;
                }
            }

            &.flowers {
                width: 574px;
                height: 311px;
                background: url(../images/production/img-flower.png) 0 0 no-repeat;
                right: -299px;
                bottom: 60px;
            }

            @include xs-small {

                &.table,
                &.flowers {
                    display: none;
                }
            }
        }

        &-img {
            padding-bottom: 25px;

            @include small {
                padding-bottom: 7px;
            }

            img {
                pointer-events: none;
                position: relative;
                z-index: -1;
                max-width: 100%;
                height: auto;
            }
        }

        p {
            @include font(#{16px/30px}, $font-comfortaa-regular);
            padding: 0 16px;
            position: relative;

            @include small {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}