#furniture {
  position: relative;
  padding: 54px 0 172px;
  background: url(../images/furniture/bg-furniture.jpg) 0 0 repeat;

  @include xs-large {
    padding: 0px 0 50px;
  }

  .furniture-scroll-text {
    @include scroll-text(14px, 782px, '../images/furniture/scroll-text.png');
    top: 150px;
  }
}

.furniture-heading {
  font-size: 97px;
  @include font-family($font-tryclother-black);
  text-align: center;
  color: $color-primary;
  max-width: 900px;
  margin: 0 auto;
  line-height: 79px;
  padding-bottom: 79px;
  max-width: 800px;

  span {
    font-size: 50px;
    @include gradient-color(#5582de, #4f6fb0);
  }

  @include x-large {
    font-size: 8.3vw;
    line-height: 7vw;
    padding-bottom: 7vw;
    max-width: 78vw;

    span {
      font-size: 4.4vw;
      display: block;
    }
  }

  @include small {
    font-size: 32px;
    line-height: 28px;
    max-width: 420px;

    span {
      font-size: 16px;
    }
  }
}

.furniture-reasons {
  display: flex;
  padding: 0 46px 68px;

  li {
    width: 100%;
    // width: calc(100% / #{$count-furniture-reasons} - #{$padding-furniture-reasons / 2});
    border: 1px solid #d6dff1;
    border-radius: 8px;
    display: flex;
    padding: 18px 12px 22px 34px;

    &:not(:last-child) {
      margin-right: $padding-furniture-reasons;
    }
  }

  .reasons-side {
    padding-right: 50px;
  }

  .reasons-content {
    padding-top: 10px;

    h4 {
      @include font(19px, $font-comfortaa-bold);
      letter-spacing: 1.2px;
      padding-bottom: 12px;
      white-space: nowrap;

      @include xs-large {
        white-space: inherit;
      }
    }

    p {
      line-height: 25px;
      letter-spacing: 0.6px;
    }
  }

  li:nth-child(2n+2) {
    padding-right: 34px;

    .reasons-side {
      padding-right: 28px;
    }

    .reasons-content {}
  }

  @include x-large {
    li {
      flex-flow: column wrap;
      align-items: center;
      text-align: center;

      &:nth-child(2n+2),
      &:not(:last-child) {
        padding: 18px 12px 22px;

        .reasons-side {
          padding: 0;
        }
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    .reasons-side {
      padding: 0 0 10px;
    }
  }

  @include xs-large {
    padding: 0 0 30px
  }

  @include small {
    flex-flow: column wrap;

    li {
      margin-bottom: 10px;
      box-sizing: border-box;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  .icons-reasons {
    display: inline-block;
    height: 95px;
    background: url(../images/furniture/icons-reasons.png) 0 0 no-repeat;

    &.icon-guarantee {
      width: 95px;
      background-position: 0 0;
    }

    &.icon-after-guarantee {
      width: 114px;
      background-position: -95px 0;
    }
  }
}

.furniture-types {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 86px 79px;

  @include x-large {
    grid-gap: 30px 30px;
  }

  @include medium {
    grid-template-columns: 1fr 1fr;
  }

  @include small {
    grid-template-columns: 1fr;
  }

  &__block {
    position: relative;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    padding: 32px 0 49px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    box-shadow: 0px 31px 39.6px 0.4px rgba(124, 124, 124, 0.08);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
      right: 0;
      background: url(../images/furniture/furniture-types-lining.png) center 0 no-repeat;
      height: 22px;
    }

    &-heading {
      padding-bottom: 14px;

      img {}
    }

    &-content {
      padding: 0 10px;

      p {
        @include font(18px, $font-comfortaa-bold);
        letter-spacing: 1.2px;
        line-height: 28px;
        padding: 0 10px 19px;
      }
    }
  }

  &__calculate {
    color: #5582dc;
    font-size: 15px;
    letter-spacing: 0.7px;

    &:hover {
      text-decoration: none;
    }

    &::after {
      content: '';
      display: inline-block;
      vertical-align: top;
      width: 6px;
      height: 10px;
      background: url(../images/furniture/icon-right-arrow.png) 0 0 no-repeat;
      margin: 4px 0 0 5px;
    }
  }

  .icons-types {
    i {
      background: url(../images/furniture/furniture-types.jpg) 0 0 no-repeat;
      display: inline-block;
      width: 229px;
    }

    .icon-table {
      height: 129px;
      background-position: 0 0;
      margin-top: 24px;
    }

    .icon-chair {
      height: 135px;
      background-position: 0 -129px;
      margin-top: 16px;
    }

    .icon-pedestal {
      height: 153px;
      background-position: 0 -264px;
    }

    .icon-cupboard {
      height: 185px;
      background-position: 0 -415px;
    }

    .icon-upholstered {
      height: 133px;
      background-position: 0 -598px;
      margin: 34px 0 -10px;
    }

    .icon-respect {
      height: 128px;
      background-position: 0 -736px;
      margin-top: 30px;
    }

    .icon-lighting {
      height: 153px;
      background-position: 0 -863px;
      margin: 16px 0 -18px;
    }

    .icon-glass-partion {
      height: 132px;
      background-position: 0 -1016px;
      margin: 16px 0 -18px;
    }

    .icon-plumbing-partion {
      height: 140px;
      background-position: 0 -1148px;
      margin: 13px 0 -18px;
    }
  }
}
