#header {
  position: relative;
  background: url(../images/bg-main.jpg) center top / cover no-repeat;
  min-height: 900px;
  padding-bottom: 100px;
  height: 100vh;
  box-sizing: border-box;

  @include x-large {
    min-height: 600px;
  }

  @include medium {
    height: inherit;
    padding-bottom: 50px;
  }

  @include small {
    min-height: inherit;
  }

  .header-scroll-text {
    @include scroll-text(37px, $height-scroll-text, '../images/header/scroll-text.png');
  }
}

.header-top {
  display: flex;
  margin-bottom: 67px;

  @include x-large {
    margin-bottom: 6vw;
  }

  @include xs-large {
    align-items: center;
  }

  @include xs-small {
    display: block;
    text-align: center;
  }

  #logo {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3.3px;
    display: inline-block;
    vertical-align: top;
    padding: 24px 15px 0 0;

    @include font(39px, $font-yeseva-regular);
    @include gradient-color(#5582de, #4f6fb0);
    font-weight: bold;

    @include xs-large {
      padding-top: 0
    }

    @include xs-small {
      padding: 0 0 10px;
    }
  }

  .header-description {
    position: relative;
    max-width: 365px;
    padding: 14px 0 0 39px;
    letter-spacing: -0.1px;
    @include font(15px, $font-comfortaa-regular);
    line-height: 24px;

    &::before {
      content: "•";
      position: absolute;
      left: 0;
      top: 15px;
      bottom: 0;
      line-height: 75px;
      font-size: 38px;
      @include gradient-color(#5582de, #4f6fb0);
    }

    @include xs-large {
      display: none;
    }
  }

  .number-header {
    color: $color-primary;
    text-decoration: none;
    margin-left: auto;
    padding-top: 14px;
    @include font(26px, $font-tryclother-bold);

    @include x-large {
      display: none;
    }
  }

  .btn-general {
    margin-left: 24px;

    @include x-large {
      margin-left: auto;
    }
  }

  .icon-call {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(../images/header/icon-call.png) 0 0 no-repeat;
  }
}

.header-content {
  padding-bottom: 50px;

  .header-heading {
    @include font(97px, $font-tryclother-black);
    color: $color-primary;
    text-align: center;
    line-height: 82px;
    padding-bottom: 48px;

    .text-italic {
      @include font-family($font-ebgaramond-extrabolditalic);
    }

    .gradient-general {
      @include gradient-color(#5582de, #4f6fb0);
    }

    .text-light {
      @include font(50px, $font-comfortaa-regular);
      display: block;
      padding-top: 28px;
    }

    @include x-large {
      font-size: 8.3vw;
      line-height: 7vw;
      padding-bottom: 4vw;

      .text-light {
        font-size: 4.4vw;
        padding-top: 2.2vw;
      }
    }

    @include small {
      font-size: 32px;
      line-height: 28px;
      padding-bottom: 30px;
      max-width: 420px;
      margin: 0 auto;

      .text-light {
        padding-top: 10px;
        font-size: 16px;
      }
    }
  }

  .header-list {
    @include font(18px, $font-comfortaa-bold);
    color: $color-primary;
    display: flex;
    justify-content: space-around;
    max-width: 940px;
    margin: 0 auto;
    list-style: none;
    padding-bottom: 78px;

    li {
      position: relative;
      max-width: 215px;
      display: flex;
      align-items: center;
      padding-left: 24px;

      @include circle-dot;
    }

    @include x-large {
      font-size: 1.8vw;
      padding-bottom: 6.7vw;

      li {
        max-width: 19vw;
      }
    }

    @include medium {
      flex-flow: column wrap;
      align-items: center;
      padding-bottom: 30px;
      font-size: 14px;

      li {
        max-width: inherit;

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }

  .header-info {
    @include font(#{'15px/24px'}, $font-comfortaa-regular);
    color: $color-primary;
    max-width: 630px;
    margin: 0 auto;
    text-align: center;

    span {
      @include font-family($font-comfortaa-bold);
    }
  }

  .header-note {
    padding-bottom: 39px;
  }

  .header-content-btn {
    width: 452px;
    margin: 0 auto;
    position: relative;
    overflow: inherit;

    &::before {
      content: '';
      display: inline-block;
      width: 47px;
      height: 153px;
      background: url(../images/header/line-header.png) 0 0 no-repeat;
      position: absolute;
      right: -6px;
      top: -58px;
    }

    .icon-calculator {
      display: inline-block;
      vertical-align: middle;
      width: 32px;
      height: 39px;
      background: url(../images/header/icon-calculator.png) 0 0 no-repeat;
      margin-left: -10px;
    }

    .btn-content {
      padding-right: 0;
      text-align: center;
    }

    @include medium {
      line-height: 51px;
      max-width: 100%;
    }
  }


}