/**
 * Layout
 */

body {
  @include font(16px, $font-comfortaa-regular);
  color: #212121;
  min-width: 330px;

  &.hidden {
    overflow: hidden;
  }
}

.wrapper {
  max-width: $large-desktop;
  margin: 0 auto;
  padding: 48px 10px 0;
  box-sizing: content-box;

  @include x-large {
    padding-top: 28px;
  }
}

.more-link-modal-enable {
  position: relative;
  z-index: 2;

  &:hover {
    .more-link_modal {
      display: block;
    }
  }

  span {
    position: relative;
    z-index: 2;
  }

  .more-link_modal {
    display: none;
    position: absolute;
    left: -20px;
    top: -10px;
    background: #fff;
    color: #212121;
    padding: 40px 20px 20px;
    border-radius: 15px;
    z-index: -1;
    font-size: 12px;
    line-height: 20px;
    width: 300px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.07);
  }
}