#object {
    padding: 90px 0 151px;
    background: url(../images/object/img-table.png) left -11px bottom 15px no-repeat;

    @include x-large {
        padding-top: 7vw;
        padding-bottom: 12vw;

        .wrapper {
            max-width: 900px;
            margin: 0 auto;
        }
    }

    @include small {
        padding-top: 30px;
        padding-bottom: 0;
    }
}

.object {
    &-heading {
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 24px;
        @include font(#{50px/ 66px}, $font-comfortaa-regular);

        span {
            color: $color-primary;
            @include font(97px, $font-tryclother-black);
            @include gradient-color(#5582de, #4f6fb0);
            line-height: 65px;
        }

        @include x-large {
            font-size: 4.4vw;
            padding-top: 2.2vw;
            line-height: 5vw;

            span {
                font-size: 8.3vw;
                line-height: 7vw;
                padding-bottom: 4vw;
            }
        }

        @include small {
            padding-top: 10px;
            font-size: 16px;

            span {
                font-size: 32px;
                line-height: 28px;
                padding-bottom: 30px;
                max-width: 420px;
                margin: 0 auto;
            }
        }
    }

    &-preheading {
        text-align: center;
        @include font(22px, $font-comfortaa-regular);
        max-width: 700px;
        margin: 0 auto;
        line-height: 36px;
        padding-bottom: 52px;

        @include medium {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &-tabs-heading {
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 39px;
        @include font(16px, $font-comfortaa-bold);

        @include x-large {
            margin: 0 auto 39px;
        }

        @include medium {
            flex-flow: row wrap;
        }
    }

    &-list-item {
        width: 25%;
        background: #f5f5f5;
        color: #f5f5f5;
        border-radius: 10px;
        transition: 0.2s;

        @include x-large {
            width: 50%;
        }

        &.ui-tabs-active,
        &:hover {
            a {
                @include gradient-background(#fae275, #f5c357);
                color: #212121;
            }
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            color: #c5c5c5;
            background: #f5f5f5;
            text-decoration: none;
            padding: 0 10px;
            height: 69px;
            line-height: 69px;
            box-sizing: border-box;
            overflow: hidden;
            transition: 0.2s;
            outline: none;
            border: none;
        }
    }

    &-tabs-container {
        display: flex;

        @include x-large {
            flex-flow: column wrap;
            align-items: center;
            flex-direction: column-reverse;
        }
    }

    &-slider {
        position: relative;
        padding-top: 10px;
        min-width: 587px;
        width: 587px;
        max-width: 100%;
        margin-right: 77px;

        @include x-large {
            margin-bottom: 50px;
            margin-right: 0;
        }

        @include medium {
            min-width: inherit;
        }

        &__slide {
            border-radius: 15px;
            overflow: hidden;
            margin-bottom: 24px;

            img {
                @include medium {
                    width: 100%;
                    height: auto;
                }
            }
        }

        &__content {
            width: calc(100% + 45px);
            position: relative;

            @include medium {
                display: none;
            }

            &::after {
                content: '';
                display: block;
                width: 43px;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                background: #fff;
            }

            .img-container {
                position: relative;
                width: 168px;
                height: 112px;
                border-radius: 15px;
                overflow: hidden;

                img {
                    object-fit: cover;
                    max-width: 100%;
                    max-height: 100%;
                    width: 100%;
                    height: 100%;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #dde2ed;
                    opacity: 0;
                }

                &:hover {
                    &::after {
                        display: none;
                    }
                }
            }

            .slick-slide:not(.slick-center) {
                .img-container::after {
                    opacity: .5;
                }
            }

            .slick-slide {
                text-align: center;
                outline: none;
                cursor: pointer;

                img {
                    display: inline-block;
                }
            }


            &-slide {}
        }

        &__arrow {
            outline: none;
            border: none;
            position: absolute;
            display: inline-block;
            background: url(../images/object/arrow-slider.png) center no-repeat, -webkit-linear-gradient(#5582de, #4f6fb0);
            width: 43px;
            height: 43px;
            border-radius: 100%;
            top: calc(50% - 76px);
            z-index: 10;
            cursor: pointer;
            transition: 0.2s opacity;

            &:hover {
                opacity: .8;
            }

            &.arrow-prev {
                left: -20px;
                transform: rotate(180deg);
            }

            &.arrow-next {
                right: -20px;
            }

            @include medium {
                & {
                    top: calc(50% - 22px);
                }

                &.arrow-prev {
                    left: 5px;
                }

                &.arrow-next {
                    right: 5px;
                }
            }
        }
    }

    &-tabs-content {

        @include x-large {
            background: #fff;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0px 9px 123.75px 1.25px rgba(96, 96, 96, 0.09);
            margin-bottom: 30px;
        }

        &-block {
            padding-bottom: 19px;
        }

        h4 {
            @include font(#{26px/30px}, $font-tryclother-black);
            padding-bottom: 53px;
        }

        h6 {
            @include font(20px, $font-tryclother-bold);
            background: url(../images/object/icons-tasks.png) 0 0 no-repeat;
            margin-bottom: 24px;
            padding-left: 42px;

            &.icon-task {
                background-position: 6px 0;
                padding-top: 5px;
            }

            &.icon-solution {
                background-position: -2px -35px;
            }
        }

        &-block-list {
            @include font(16px, $font-comfortaa-regular);
            padding-left: 42px;

            li {
                position: relative;
                @include circle-dot;
                padding-left: 24px;
                margin-bottom: 24px;
                line-height: 24px;

                &::before {
                    top: 8px;
                }
            }
        }
    }
}