#solution {
    position: relative;
    padding: 80px 0 149px;

    &__container {
        overflow: hidden;
    }

    .clip {
        display: inline-block;
        width: 423px;
        height: 407px;
        background: url(../images/solution/clip.png) left bottom no-repeat;
        position: absolute;
        left: -6px;
        top: -221px;
    }
}

.solution-head {
    text-align: center;
}

.solution-heading {
    @include font(80px, $font-tryclother-black);
    line-height: 78px;
    padding-bottom: 34px;

    span {
        display: block;
    }

    strong:first-of-type {
        @include gradient-color(#5582de, #4f6fb0);
    }

    strong:last-of-type {
        @include font(30px, $font-comfortaa-regular);
        display: block;
        padding-top: 31px;
    }
}

.solution-preheading {
    @include font(#{22px/36px}, $font-comfortaa-regular);
    opacity: .5;
    max-width: 990px;
    margin: 0 auto;
    padding-bottom: 43px;
}

.reason-solution {
    display: inline-block;
    @include font(18px, $font-comfortaa-regular);
    color: #5584dc;
    margin-bottom: 80px;

    &:hover {
        text-decoration: none;
    }
}

.slider-solution {
    position: relative;
    margin-bottom: 47px;

    &__flowers {
        position: absolute;
        left: -349px;
        top: -108px;
        z-index: -1;
        display: inline-block;
        width: 633px;
        height: 734px;
        background: url(../images/solution/img-flowers.jpg) 0 0 no-repeat;
    }

    &__container {
        position: relative;

        .slick-list {
            // width: calc(100% + 100% - 1611px / 2);
        }
    }

    &__img-container {
        -webkit-mask-image: url(../images/solution/img-mask.svg);
        mask-image: url(../images/solution/img-mask.svg);

        img {
            object-fit: cover;
        }
    }

    &__slide {
        position: relative;
    }

    &__bullets {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    &__container-bullet {
        position: relative;
        display: inline-block;
    }

    &__bullet {
        position: relative;
        z-index: 1;
        display: inline-block;
        width: 41px;
        height: 41px;
        background: url(../images/solution/slider-bullet.png) 0 0 no-repeat;
        cursor: pointer;

        &:hover {
            z-index: 3;
            background-position: 0 -41px;

            +.slider-solution__bullet-modal {
                opacity: 1;
                z-index: 2;
            }
        }

        &-modal {
            @include font(#{16px/30px}, $font-comfortaa-regular);
            text-align: center;
            opacity: 0;
            width: 415px;
            background: #fff;
            position: absolute;
            left: calc(-374px / 2);
            border-radius: 0 0 45px 45px;
            box-shadow: 0px 10px 15.84px 0.16px rgba(95, 95, 95, 0.16);
            top: 64px;
            padding-bottom: 29px;
            transition: 0.2s opacity;

            &::before {
                content: '';
                display: block;
                width: 415px;
                height: 44px;
                background: url(../images/solution/slider-bullet-borders.png) 0 0 no-repeat;
                position: absolute;
                top: -44px;
            }

            &::after {
                content: '';
                display: block;
                width: 415px;
                height: 30px;
                background: url(../images/solution/slider-bullet-borders.png) 0 -44px no-repeat;
                position: absolute;
                bottom: -24px;
            }

            p {
                padding-left: 45px;
                padding-right: 45px;
            }

            &-description {
                border-bottom: 1px solid #e5e5e5;
                margin-top: -7px;
                padding-bottom: 16px;
                margin-bottom: 19px;
            }

            &-tip {
                @include font(#{14px/24px}, $font-comfortaa-bold);
                color: #5582dc;
            }
        }

        &-modal-description {}

        &-modal-tip {}
    }

    &__arrows {
        position: absolute;
        right: 46px;
        bottom: 64px;

        .slider-solution__arrow {
            position: relative;
            width: 49px;
            height: 49px;

            &.arrow-right {
                margin-left: 20px;
            }

            &.arrow-left {
                transform: rotate(180deg);
            }
        }
    }
}

.review-solution {
    text-align: center;
    max-width: 535px;
    margin: 0 auto;

    &__img {
        position: relative;
        padding: 5px;
        width: 77px;
        height: 77px;
        margin: 0 auto 26px;

        &::before {
            content: '';
            position: absolute;
            width: calc(100% + 6px);
            height: calc(100% + 6px);
            left: -3px;
            top: -3px;
            border: 1px solid rgba(85, 130, 220, .1);
            border-radius: 100%;
        }

        &-inner {
            width: 77px;
            height: 77px;
            border-radius: 100%;
            overflow: hidden;

            img {
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
                display: block;
            }
        }
    }

    p {
        line-height: 30px;
        padding-bottom: 29px;

    }

    &__author-quote {
        color: #cecece;
    }
}

.slick-initialized .slick-slide {}