// Media query for xs mobile first layout 
@mixin xs-small {
  @media screen and (max-width: #{$xs-mobile}) {
    @content;
  }
}
// Media query for mobile first layout 
@mixin small {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}

// Break on tablet
@mixin medium {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}

// Break on desktop
@mixin xs-large {
  @media screen and (max-width: #{$desktop}) {
    @content;
  }
}

// Break on desktop
@mixin x-large {
  @media screen and (max-width: #{$large-desktop}) {
    @content;
  }
}

// clearfix
@mixin clearfix {
  &:after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
}

// fonts
@mixin font-face($font-folder, $font) {
  @font-face {
    font-family: $font;
    src: url('../../../dist/fonts/#{$font-folder}/#{$font}.eot');
    src: url('../../../dist/fonts/#{$font-folder}/#{$font}.eot?#iefix') format('embedded-opentype'),
    url('../../../dist/fonts/#{$font-folder}/#{$font}.woff') format('woff'),
    url('../../../dist/fonts/#{$font-folder}/#{$font}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin font-family($font-base) {
  font-family: $font-base, Arial, sans-serif;
}

@mixin font($font-size, $font-base) {
  font: $font-size $font-base, Arial, sans-serif;
}

// gradient

@mixin gradient-color($left-color, $right-color) {
  background: -webkit-linear-gradient($left-color, $right-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin gradient-background($left-color, $right-color) {
  background: -webkit-linear-gradient($left-color, $right-color);
}

@mixin scroll-text($width, $height, $url) {
  display: inline-block;
  width: $width;
  height: $height;
  background: url($url) 0 0 no-repeat;
  position: absolute;
  left: 10%;
  top: calc(50% - #{$height / 2});

  @media screen and (max-width: 1400px) {
    display: none;
  }
}
