/**
 * Variables
 *
 * The majority of the configuration for the toolkit.
 */

//==============================================================================
// Containers
//==============================================================================

$xs-small : 480px !default;
$x-small : 600px !default;
$small : 800px !default;
$medium : 960px !default;
$large : 1171px !default;

//==============================================================================
// Breakpoints
//==============================================================================

$xs-mobile : $xs-small !default;
$mobile : $x-small !default;
$tablet : $small !default;
$desktop : $medium !default;
$large-desktop: $large !default;

//==============================================================================
// Global Colors
//==============================================================================

$color-primary: #212121;

//==============================================================================
// Fonts
//==============================================================================

$font-yeseva-regular: 'YesevaOne-Regular';
$font-yeseva-folder: 'yeseva';

$font-comfortaa-light: 'Comfortaa-Light';
$font-comfortaa-regular: 'Comfortaa';
$font-comfortaa-bold: 'Comfortaa-Bold';
$font-comfortaa-folder: 'comfortaa';

$font-tryclother-bold: 'TryClother-Bold';
$font-tryclother-black: 'TryClother-Black';
$font-tryclother-folder: 'tryclother';

$font-ebgaramond-extrabolditalic: 'EBGaramond-ExtraBoldItalic';
$font-ebgaramond-folder: 'ebgaramond';

//==============================================================================
// Typography
//==============================================================================

// Body

//==============================================================================
// Header
//==============================================================================

$height-scroll-text: 586px;

//==============================================================================
// Furniture
//==============================================================================

$padding-furniture-reasons: 56px;
$count-furniture-reasons: 2;
